body {

    font-family: sans-serif;
    background-image: url("bg1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

}

.location {

    color: #33b3da;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    
}


.flexbox {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}



.search {


    display: flex;
    padding-top: 60vh;
    
}

#search {
    
    justify-content: center;
    flex-direction: row;
    width: 50vw;
    height: 50px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 3px solid #33b3da;
    font-family: sans-serif;
    font-size: 30px;
    padding: 10px 10px 10px 20px;

}

#submit {
    
    margin: 10px;
    border-radius: 15px;
    box-sizing: border-box;
    border: 3px solid #33b3da;
    width: 40px;
    cursor: pointer;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    background-color: rgb(186, 230, 250);
}

.icons {

    position: absolute;
    display: flex;
    justify-content: space-evenly ;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin:auto;
    
}

.fa-solid {

    color: #33b3da;;
    font-size: 75px;

}


.values {

    text-align: center;
    font-size: 30px;
    color: #6e6ea6;
    
}
