body {
    font-family: sans-serif;

}

.flexbox {
    display: flex;
    flex-direction: column;

}

.search { 
    position: absolute;
    top: 25%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    

}

.results {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-evenly ;
    flex-direction: row;
    width: 100%;

}
